<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: darkSeaGreen;">
<div class="pace pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
    <div class="pace-progress-inner"></div>
</div>
    <div class="pace-activity"></div>
</div>
<header>
    <div class="container">
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="">Log in</a></li>
                    <li><a href="">Sign up</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
this is hello
</body>
</html>